In [1]:
import pandas as pd

In [6]:
%matplotlib inline

da ich beim importieren als csv ständig Fehler bekam, speichere ich das Datenfile nochmals als excel ab und versuche es mit pd.read.excel

In [13]:
path = ("ceo_bereinigt.xls")
#ich habe ja das notebook im gleichen Ordner geöffnet
print(path)

ceo_bereinigt.xls

In [14]:
df = pd.read_excel(path)

In [17]:
df.head(3)

  Gesellschaft Vorname         Name FunkAnfDat
0          ABB  Ulrich  Spiesshofer 2013-09-15
1        Addex     Tim         Dyer 2013-06-01
2       Adecco   Alain       Dehaze 2015-09-01

In [16]:
df.shape

(215, 4)

was sind das für datentypen?

In [19]:
df.dtypes

Gesellschaft            object
Vorname                 object
Name                    object
FunkAnfDat      datetime64[ns]
dtype: object

da haben wir ein Datum. und in dieser Spalte will ich filtern. Und zwar will ich nur die CEO, die mindestens zwei Jahre im Amt sind.

In [34]:
df[df['FunkAnfDat'] < "2017-01-01"]

,Gesellschaft,Vorname,Name,FunkAnfDat,GanzerName
0,ABB,Ulrich,Spiesshofer,2013-09-15,UlrichSpiesshofer
1,Addex,Tim,Dyer,2013-06-01,TimDyer
2,Adecco,Alain,Dehaze,2015-09-01,AlainDehaze
3,Adval Tech,RenŽ,Rothen,2012-08-01,RenŽRothen
4,Aevis Victoria,Antoine,Hubert,2012-07-02,AntoineHubert
5,Airesis,Marc-Henri,Beausire,2006-08-01,Marc-HenriBeausire
6,Airopack,Quint,Kelders,2010-06-30,QuintKelders
7,Allreal,Roger,Herzog,2015-04-30,RogerHerzog
8,Also,Gustavo,Mšller-Hergt,2012-07-01,GustavoMšller-Hergt
9,AMS,Alexander,Everke,2016-03-01,AlexanderEverke
10,APG SGA,Markus,Ehrle,2014-06-01,MarkusEhrle
11,Arbonia,Alexander,von Witzleben,2015-07-01,Alexandervon Witzleben
12,Arundel,Volkert,Klaucke,2016-01-26,VolkertKlaucke
14,Ascom,Holger,Cordes,2016-06-01,HolgerCordes
15,Asmallworld,Jan,LŸscher,2016-06-01,JanLŸscher
16,Bachem,Thomas,FrŸh,2012-04-01,ThomasFrŸh
17,Baloise,Gert,De Winter,2016-01-01,GertDe Winter
18,Bank Linth,David,Sarasin,2012-07-01,DavidSarasin
19,Banque Cantonale de Genve,Blaise,Goetschin,2000-10-01,BlaiseGoetschin
20,Banque Cantonale du Jura,Bertrand,Valley,2004-06-01,BertrandValley
21,Banque Cantonale Vaudoise,Pascal,Kiener,2008-05-01,PascalKiener
22,Banque Profil de Gestion,Silvana,Cavanna,2008-06-01,Silvana Cavanna
23,Barry Callebaut,Antoine,de Saint-Affrique,2015-10-01,Antoinede Saint-Affrique
26,Basler Kantonalbank,Guy,Lachappelle,2013-02-27,GuyLachappelle
27,BEKB / BCBE,Hanspeter,RŸfenacht,2012-01-01,HanspeterRŸfenacht
28,Belimo,Lars,van der Haegen,2015-07-01,Larsvan der Haegen
29,Bell Food,Lorenz,Wyss,2011-04-01,LorenzWyss
30,Bellevue Group,AndrŽ,RŸegg,2016-01-01,AndrŽRŸegg
32,BKW,Suzanne,Thoma,2013-01-01,SuzanneThoma
33,Bobst,Jean-Pascal,Bobst,2009-05-07,Jean-PascalBobst
...,...,...,...,...,...
178,U-Blox,Thomas,Seiler,2002-05-01,ThomasSeiler
179,UBS,Sergio,Ermotti,2011-11-15,SergioErmotti
181,Valiant,Markus,Gygax,2013-11-18,MarkusGygax
182,Valora,Michael,Mueller,2014-03-01,MichaelMueller
184,Vaudoise Assurances,Philippe,Hebeisen,2009-01-01,PhilippeHebeisen
187,Von Roll,Christian,Hennerkes,2016-10-01,ChristianHennerkes
188,Vontobel,Zeno,Staub,2011-05-04,ZenoStaub
189,VP Bank,Alfred,Moeckli,2013-05-01,AlfredMoeckli
190,VZ Holding,Matthias,Reinhart,1992-01-01,MatthiasReinhart
191,Walliser Kantonalbank,Pascal,Perruchoud,2012-05-23,PascalPerruchoud
192,Warteck Invest,Daniel,Petitjean,2003-04-01,DanielPetitjean
193,Wisekey,Carlos,Moreira,1999-01-01,CarlosMoreira
194,Ypsomed,Simon,Michel,2014-07-01,SimonMichel
196,ZŸblin Immobilien,Iosif,Bakaleynik,2014-10-01,IosifBakaleynik
197,Zug Estates,Tobias,Achermann,2014-07-01,TobiasAchermann
198,Zuger Kantonalbank,Pascal,Niquille,2009-06-08,PascalNiquille
199,Zur Rose,Walter,OberhŠnsli,2005-06-01,WalterOberhŠnsli
200,Zurich Insurance Group,Mario,Greco,2016-03-07,MarioGreco
201,Zwahlen & Mayr,Luigi,Mion,2015-09-25,LuigiMion
202,Alpiq,Jasmin,Staiblin,2013-01-01,JasminStaiblin
204,Dottikon ES,Markus,Blocher,2003-01-01,MarkusBlocher
205,Energiedienst,Martin,Steiger,1999-01-01,MartinSteiger
206,ENR Russia Invest,Ben,De Bruyn,2014-01-01,BenDe Bruyn
207,Goldbach Group,Michi,Frank,2014-01-01,MichiFrank
209,Alpine Select,Claudia,Habermacher,2014-01-01,ClaudiaHabermacher
210,Castle Alternative Invest,Benedikt,Meyer,2015-05-12,BenediktMeyer
211,Castle Private Equity,Benedikt,Meyer,2014-02-26,BenediktMeyer
212,HBM Healthcare Investments,Andreas,Wicki,2001-04-09,AndreasWicki
213,Nebag,Petra,Gšssi,2008-12-01,PetraGšssi
214,Private Equity,Hans,Baumgartner,2014-02-07,HansBaumgartner

In [36]:
df['GanzerName'] = df['Vorname'] + ' ' + df["Name"]

In [37]:
df.head(3)

  Gesellschaft Vorname         Name FunkAnfDat          GanzerName
0          ABB  Ulrich  Spiesshofer 2013-09-15  Ulrich Spiesshofer
1        Addex     Tim         Dyer 2013-06-01            Tim Dyer
2       Adecco   Alain       Dehaze 2015-09-01        Alain Dehaze

In [39]:
df["suchbegriff"] = df['GanzerName'] + ' ' + df["Gesellschaft"]

In [40]:
df.head(3)

,Gesellschaft,Vorname,Name,FunkAnfDat,GanzerName,suchbegriff
0,ABB,Ulrich,Spiesshofer,2013-09-15,Ulrich Spiesshofer,Ulrich Spiesshofer ABB
1,Addex,Tim,Dyer,2013-06-01,Tim Dyer,Tim Dyer Addex
2,Adecco,Alain,Dehaze,2015-09-01,Alain Dehaze,Alain Dehaze Adecco

In [41]:
#spalte Suchbegriff in neuem dataframe speichern und als csv speichern.
suchliste = df["suchbegriff"]

In [44]:
suchliste.head(3)

0    Ulrich Spiesshofer ABB
1            Tim Dyer Addex
2       Alain Dehaze Adecco
Name: suchbegriff, dtype: object

In [45]:
path = "ceosuchliste.csv"

In [46]:
suchliste.to_csv(path, index=False)

Jetzt brauch ich Selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [32]:
driver = webdriver.Chrome('/usr/local/bin/chromedriver')
driver.get("https://smd.ch/SMDView/log/index.jsp")

In [33]:
suchfeld1 = driver.find_element_by_name("j_username")

In [34]:
suchfeld1.send_keys("fuw-pr")

In [36]:
passwort = driver.find_element_by_name("j_password")
#passwort.send_keys("esemde2015").click()
passwort.send_keys(Keys.RETURN)

Jetzt bin ich bei der SMD-Seite eingeloggt. Nun die Treffer zählen für den ersten CEO, Ulrich Spiesshofer:

In [44]:
suchfeldsmd = driver.find_element_by_id("SEARCH_query")
suchfeldsmd.send_keys("Ulrich Spiesshofer ABB")
suchfeldsmd.send_keys(Keys.RETURN)

neuer Versuch:

In [45]:
suchfeldsmd.clear()

In [46]:
suchfeldsmd.send_keys("Ulrich Spiesshofer ABB")
suchfeldsmd.send_keys(Keys.RETURN)

So: Das Resultat heisst "totalcountetdocuments", das muss ich rausziehen

In [47]:
treffer = driver.find_element_by_id("totalcountetdocuments")

Das bringt nicht viel. Besser den ganzen Inhalte der Seite als Text runterladen und dann mit beautifulsoup handwerken:

In [48]:
from bs4 import BeautifulSoup
import requests

In [49]:
ganzeseite = driver.page_source

In [51]:
type(ganzeseite)

str

aber nicht mehr heute